        body {
            margin: 0;
            padding: 0;
        }
        /* .........................................navbar............................................. */
        
        .clear {
            /* margin: 0;
            padding: 0; */
            clear: both;
        }
        
        .navbar {
            width: 100%;
            height: 50px;
            background: #360836;
            /* position: fixed; */
            margin: 0;
        }
        
        .navbar ul {
            list-style: none;
            text-align: center;
            margin: 0;
        }
        
        .navbar ul li {
            display: inline-block;
            margin-top: 15px;
        }
        
        .navbar ul li a {
            color: #ff0048;
            text-decoration: none;
            padding: 10px;
            margin-left: 15px;
        }
        
        .navbar ul li a.active {
            color: rgb(230, 218, 231);
        }
        /* ............................................................................................ */
        
        .folk {
            width: 100%;
            height: 700px;
            background-image: url("../images/cover.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        
        .folk .web {
            text-align: center;
            color: #fff;
            opacity: 0.8;
        }
        
        .folk .web h1 {
            margin: 0;
            font-size: 50px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            padding-top: 150px;
        }
        
        .folk .web h1 span {
            font-family: 'Courier New', Courier, monospace;
            text-transform: lowercase;
        }
        
        .folk .web h4 {
            margin: 0;
            margin-top: 5px;
            font-size: 20px;
            letter-spacing: 7px;
            text-transform: capitalize;
        }
        
        .folk .web p {
            text-transform: capitalize;
            margin-top: 100px;
            font-weight: bolder;
        }
        
        .folk .web .point {
            margin-top: 100px;
        }
        
        .folk .web .point span {
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            display: block;
            width: 5px;
            padding-bottom: 5px;
            margin: auto;
            margin-bottom: 30px;
        }
        
        .folk .work {
            position: absolute;
            bottom: 0;
            left: 40%;
            background: #ff0048;
            color: #fff;
            padding: 15px;
            width: 210px;
            font-size: 20px;
            text-align: center;
            padding-left: 30px;
            padding-right: 20px;
            margin: auto;
        }
        /* .folk .work::after {
    content: "";
    border-top: 30px solid #ff0048;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: relative;
    top: 67px;
    left: -80px;
} */
        /* .................................................................................... */
        
        .image {
            width: 100%;
            height: 700px;
        }
        
        .image .imge {
            width: 25%;
            height: 250px;
            float: left;
            position: relative;
        }
        
        .image .imge img {
            width: 100%;
            height: 100%;
        }
        
        .image .imge .over {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            opacity: 0;
        }
        
        .image .imge .over:hover {
            opacity: 1;
        }
        
        .we {
            margin: auto;
            background: #ff0048;
            color: #fff;
            padding: 15px;
            width: 97.5%;
            font-size: 20px;
            text-align: center;
            padding: 15px auto;
            margin-top: 50px;
            position: absolute;
        }
        
        .we::after {
            position: relative;
            content: "";
            border-top: 30px solid #ff0048;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
            border-bottom: 30px solid transparent;
            top: 68px;
            left: -310px;
        }
        /* .................................................................................... */
        
        .cards {
            width: 100%;
            margin-top: 100px;
        }
        
        .cards .card {
            text-align: center;
            color: #ff0048;
            width: 60%;
            margin: auto;
        }
        
        .cards .card h2 {
            padding-top: 120px;
        }
        
        .cards .card .andreas {
            width: 50%;
            margin-top: 50px;
            float: left;
            margin-bottom: 50px;
        }
        
        .cards .card .andreas img {
            width: 100%;
        }
        
        .cards .card .andreas h1 {
            margin: 0;
            margin-top: 3px;
            letter-spacing: 3px;
        }
        
        .cards .card .andreas p {
            margin: 0;
            padding-bottom: 5px;
            color: #000;
        }
        
        .cards .card button {
            width: 200px;
            height: 50px;
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
            border: 0;
            cursor: pointer;
            margin-bottom: 40px;
        }
        /* ................................................................................... */
        
        .about {
            width: 100%;
            height: 1000px;
            margin-top: 50px;
            background-image: url("../images/Cover_2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
        }
        
        .about .what {
            width: 80%;
            margin: auto;
            text-align: center;
        }
        
        .about .what .how {
            width: 40%;
            float: left;
            margin-left: 80px;
            margin-top: 20px;
        }
        
        .about .what .how h1 {
            opacity: 0.8;
        }
        
        .about .what .how p {
            opacity: 0.8;
        }
        
        .about .what .how .bullet {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        .about .what .how .bullet span {
            background: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            padding-left: 5px;
            font-size: 5px;
            margin: 10px;
            display: inline;
        }
        
        .about .what button {
            background: #fff;
            border: 0;
            padding: 8px;
            width: 150px;
            text-transform: uppercase;
            border-radius: 2px;
            cursor: pointer;
        }
        
        .about .what button a {
            text-decoration: none;
            color: rgb(110, 107, 107);
        }
        
        .about .what .bull {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 50px;
        }
        
        .about .what .bull span {
            background: #fff;
            border: 2px solid #fff;
            border-radius: 50%;
            padding-left: 5px;
            font-size: 5px;
            margin: 8px;
            display: inline;
        }
        
        .about .what .bull span:first-child {
            background: #ff0048;
            border: 2px solid #ff0048;
        }
        /* ................................ */
        
        .footer {
            width: 100%;
            height: 50px;
            background: rgb(190, 185, 185);
        }
        
        .footer p {
            margin: 0;
            text-align: center;
            padding: 15px;
        }
        
        .footer p span {
            color: #ff0048;
        }
        /* ...........................................second page.......................................... */
        
        .contact_all {
            background-image: url("../images/coverPage2.PNG");
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
        }
        
        .contact_all .tell {
            text-align: center;
            text-transform: capitalize;
        }
        
        .contact_all .tell h1 {
            margin: 0;
            padding-top: 50px;
            font-size: 50px;
            font-family: 'Courier New', Courier, monospace;
            font-style: italic;
            font-weight: bolder;
        }
        
        .contact_all .tell h4 {
            margin: 0;
            font-size: 20px;
            opacity: 0.8;
        }
        
        .contact_all .tell h2 {
            margin: 0;
            padding-top: 80px;
            color: #ff0048;
            letter-spacing: 2px;
        }
        
        .contact_all .tell form {}
        
        .contact_all .tell form input {
            margin: auto;
            display: block;
            width: 30%;
            height: 30px;
            margin-top: 5px;
            background-color: #fa386f;
            border: 0;
        }
        
        .contact_all .tell form input:first-child {
            margin-top: 40px;
        }
        
        .contact_all .tell form textarea {
            margin: auto;
            display: block;
            width: 30%;
            margin-top: 5px;
            background-color: #fa386f;
        }
        
        .contact_all .tell form input[type=submit] {
            padding: 5px;
            height: 30px;
            margin-top: 5px;
            width: 10%;
            border: 0;
        }
        
        .become {
            width: 100%;
        }
        
        .become .studio {
            text-align: center;
            text-transform: capitalize;
        }
        
        .become .studio h1 {
            margin: 0;
            margin-top: 40px;
            color: #ff0048;
        }
        
        .become .studio p {
            margin: 0;
        }
        
        .become .studio .icons {
            margin-top: 30px;
            margin-bottom: 15px;
        }
        
        .become .studio .icons span {
            font-size: 20px;
            padding-bottom: 15px;
        }
        
        .become .studio .icons span:nth-child(2) {
            font-size: 10px;
            padding: 5px;
        }